body {}

nav {
    height: 55px !important;
}


#activity-form {
    border: 1px solid black;
    background-color: #fcfcfc;
    height: 70%;
    min-width: 50%;
    position: absolute;
    display: none;
    visibility: hidden;
    top: 10%;
    left: 25%;
}

.photo-src {
    position: absolute;
    bottom: 10%;
    right: 15%;
    line-height: 30px;
}

label {
    display: inline-block;
}

.input-container-activity {
    display: block;
    margin-top: 25px;
/*    text-align: center;*/
}

.submit-button {
    border:1px solid rgb(20, 20, 20);
    border-radius: 5px;
    background-color:#31b1e4;
    line-height:35px;
    margin-bottom:100px;
    display:inline-block;
    height:10%;
    width:30%;
/*    left: 50%;*/
    cursor:pointer;
    margin-top:7%;
    margin-bottom:5%;
    text-align: center;
    position: absolute;
    bottom: 3%;
    left: 10%;



}

.centerbox {

    width: 60%;
    height: 100%;
    float: left;
    margin-left: 20%;
}

.leftbox {

    width: 40%;
    height: 100%;
    float: left;
    margin-left: 5%;
}

.rightbox {

    width: 45%;
    height: 100%;
    float: right;
    margin-right: 5%;
}

/*#activity-form {
  display: block;
  visibility: visible;
}*/

.form-input {
    display: inline-block;
    text-align: left;
    float: right;

}

.x {
    position: absolute;
    border-radius: 50%;
    background: black;
    color: white;
    top: 0px;
    right: 0px;
}

.signIn-form {
    background-color: white;
    position: absolute;
    right: 0px;
    top: 55px;
    display: block;
    visibility: visible;
    border: 1px solid black;

}



.button {
    border:1px solid rgb(20, 20, 20);
    border-radius: 5px;
    background-color:#31b1e4;
    line-height:30px;
    margin-bottom:100px;
    display:block;
    height:10%;
    width:50%;
    cursor:pointer;
    margin-top:5%;
    margin-bottom:5%;
    text-align:center;
    position:relative;
    margin-left: auto;
    margin-right: auto;
}


#signIn {
    margin-top: 13px;
}


.container-main {
    min-height: 100%;
    width: 100%;
    background-color: yellow;

}

.r-box {
    width: 300px;
    height: 250px;
    border: 1px solid black;
    position: absolute;
    right: 0;
    float: none;
}

.r-box p {

}

.event-sign-up {
    position: absolute;
    bottom: 20%;
    left: 50%;
    margin-left: -50px;
    background-color: #a5edfa;
    border-radius: 15%;
    width: 100px;
    text-align: center;

}



.event {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;

}

.event:nth-child(odd) {
    background-color: #a1f0e5;
}

.event:nth-child(even) {
    background-color: #73a5f5;
}

.event * {
  /* float: left; */
}


.container-image{
    float: left;
    width: 23%;
    height: 100%;

}
.container-description {
    float: left;
    position: relative;
    width: 70%;
    height: 500px;
    margin-top: 15px;
}
h3 {
    margin-left: 15px;
}

p {
    font-size: 18;
    float: none;
    margin-left: 15px;
    word-wrap: break-word;
}
img {
    margin: 15px 15px; 
}
