html (min-height: 100%) /*might be a bug here*/

body {height: 100%}


.signIn-form {
    background-color: white;
    position: absolute;
    right: 0px;
    top: 55px;
    display: block;
    visibility: visible;

}

.button {
    border:1px solid rgb(20, 20, 20);
    border-radius: 5px;
    background-color:#31b1e4;
    line-height:30px;
    margin-bottom:100px;
    display:block;
    height:10%;
    width:50%;
    cursor:pointer;
    margin-top:5%;
    margin-bottom:5%;
    text-align:center;
    position:relative;
    margin-left: auto;
    margin-right: auto;
}

.blog-container {
    margin-top: 15px;
    margin-left: 25px;
    height: 500px;
}


.bg * {
    float: left;
}

.container-comments {
    float: right;
    margin-right: 1.5%;
    width: 30%;
}

.comments {
    width: 100%;
    max-height: 80%;
    overflow-y: scroll;
}

.board-title {
    margin: 0 auto;
    text-align: center;
}

.message {
    position: relative;
    min-height: 100px;
    border-top: 2px double black;
    clear: both;
    min-width: 100%;
    
}



.ts {
    position: absolute;
    bottom: 0;
    right: 0;
    color: blue;
}

.container-main {
    margin-top: 15px;
    margin-bottom: 15px;
    max-height: 65%;
    width: 65%;
    margin-left: 1.5%;
    overflow-y: scroll;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .3);
    border-radius: 5px;
}

.comment-box {
    border-top: 3px dotted blue;
    margin-top: 50px;
    width: 100%;
    height: 200px;
}

#post-comment-button {
    border-radius: 6%;
    background-color: #6fed8b;
    width: 80%;
    margin-left: 10%;
    line-height: 30px;
    margin-top: 15px;
}

.input-comment {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
}

.container-secondary {
    width: 65%;
    margin-left: 1.5%;
    height: 500px;
    background-color:#31b1e4;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .3);
    border-radius: 5px;

}

#blog-header {
    margin: 15px 15px;
}

.event {
    width: 100%;
    height: 250px;
    background-color:#78d7fd;
    overflow: hidden;
}

.event:nth-child(odd) {
    background-color: #bcf5f2;
}

.event * {
    float: left;
}

h3 {
    margin-left: 25px;
    cursor: pointer;
}

p {
    font-size: 18;
    float: none;
}

.hl {
    height: 2px;
    border-top: 2px solid black;
    width: 100%;
}

textarea {
    left: 15px;
}

.event * {
     float: left;
}

.container-description{
    max-width: 65%;
    height: 100%;
}

#post-blog {
    width: 200px;
    margin-left: 75px;
    margin-top: 20px;
}

.container-description * {
    float: none;
    margin-left: 35px;
}

img{
    margin-top: 15px;
    margin-left: 15px;
}