.white-card {
    background-color: #d4f1fd;
    border-radius: 5px;
    height: 1100px;
    width: 80%;
    /* transform: translate(-50%, -50%); */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .3);
    text-align: center;
    margin: 15px auto;
}

.container-images {
    width: 80%;
    height: 300px;
/*    border: 1px solid black;*/
    margin: 20px auto;

}

p {
    position: relative;
}

#ts {
    position: absolute;
    right: 0;
}

.comments {
    width: 80%;
    border: 1px solid black;
    margin: 15px auto;
    height: 200px;
    overflow-y: scroll;
    text-align: left;
}

.comments p {
    border-bottom: 1px dotted black;
}

.comments p span {
    font-weight: bold;
    margin-right: 25px;
}

.container-text {
    width: 80%;
    height: 220px;
    border: 1px solid black;
    margin: 20px auto;
    overflow-y: scroll;
    text-align: initial;

}

.container-images img {
    margin-left: 40px;
    margin-right: 40px;
}

.container-comment {

    margin-left: 10%;
    text-align: initial;
}

.post-button {
    width: 140px;
    background-color: #93d7f5;
    border-radius: 5px;
}

h2 {
    margin-left: 10%;
    text-align: left;
    text-decoration-line: underline;
}