html (min-height: 100%) /*might be a bug here*/

body {height: 100%}


.signIn-form {
    background-color: white;
    position: absolute;
    right: 0px;
    top: 55px;
    display: none;
    visibility: hidden;

}

.button {
    border:1px solid rgb(20, 20, 20);
    border-radius: 5px;
    background-color:#31b1e4;
    line-height:30px;
    margin-bottom:100px;
    display:block;
    height:10%;
    width:50%;
    cursor:pointer;
    margin-top:5%;
    margin-bottom:5%;
    text-align:center;
    position:relative;
    margin-left: auto;
    margin-right: auto;
}



.bg * {
    float: left;
}

.container-main {
    height: 200%;
    width: 70%;
    background-color: yellow;
}

.container-secondary {
    width: 30%;
    height: 200%;
    background-color:#31b1e4;

}

.event {
    width: 100%;
    height: 250px;
    background-color:#78d7fd;
    overflow: hidden;
}

.event:nth-child(odd) {
    background-color: #bcf5f2;
}

.event * {
    float: left;
}

h3 {
    margin-left: 25px;
}

p {
    font-size: 18;
    float: none;
}

.hl {
    height: 2px;
    border-top: 2px solid black;
    width: 100%;
}

textarea {
    left: 15px;
}