body { background-color: #ffffff !important; }

/*.signIn-form {
    background-color: white;
    position: absolute;
    right: 0px;
    top: 55px;
    display: none;
    visibility: hidden;
    border: 1px solid black;

}*/

.button {
    border:1px solid rgb(20, 20, 20);
    border-radius: 5px;
    background-color:#31b1e4;
    line-height:30px;
    margin-bottom:100px;
    display:block;
    height:10%;
    width:50%;
    cursor:pointer;
    margin-top:5%;
    margin-bottom:5%;
    text-align:center;
    position:relative;
    margin-left: auto;
    margin-right: auto;
}



.image-container-main {
  width: 80%;
  height: 400px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 10%;
  text-align: center;
  background-color: #bcf5f2;
}

#signIn {
	cursor: pointer;
}