body { background-color: #abe7e7 !important; }


.container-header {

    height: 200px;
    width: 90%;
    margin: 4% 5.5%;
/*    left: 25%;*/
    margin-bottom: 12px;
    background-color: #abe7e7;
}

.container-header * {

    float: left;
    margin-right: 50px;
    height: 100%;
}


.bg { 
    display: inline-block;
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.white-card {
    /*position: absolute;*/
    float: left;
    margin-right: 80px;
    margin-bottom: 20px;
    position: relative;
	background-color: #fcfcfc;
    border-radius: 30px;
    height: 400px;
    width: 550px;
/*    top: 65%; for absolute positioning */
	top: 38%; 
    left: 25%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .3);
/*    text-align: center;*/
    opacity: 0.95;
    filter: alpha(opacity=95); /* For IE8 and earlier */
}

.main-text {
    font-weight: 400;
    color: white;
    font-size: 50px;
}

.sub-text {
    font-weight: 400;
    color: white;
    font-size: 30px;
}

.logo {

    height: 200px;
    width: 300px;
    background-size: 100%;
    margin-top: 20px;
    position: relative;
    display: block;
    margin-left: auto;

    margin-right: auto;
    margin-bottom: 75px;
    background-repeat: no-repeat;
    border: 1px solid black; /*for temporary use only*/
}

.logo-text {
    font-weight: 300;
    font-family: Sans-serif;
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
}

.logo-bottom-text {
    white-space: nowrap;
    position: absolute;
    left: 50%;
    top: 90%;
    color: white;
    transform: translateX(-50%);
}

.button {
    border:1px solid rgb(20, 20, 20);
    border-radius: 5px;
    background-color:#23a13e;
	line-height:35px;
	margin-bottom:70px;
	display:block;
	height:13%;
	width:50%;
	cursor:pointer;
	margin-top:6%;
	margin-bottom:5%;
	text-align:center;
    position:relative;
    margin-left: auto;
    margin-right: auto;
}

.button-text {
    font-size:30px;
    color: white;
    font-weight: 400;
	position:absolute;
	top:50%;
	left:50%;
	width:400px;
	transform:translate(-50%, -50%);
}

.input-container {
    display: block;
    text-align: right;

    padding-right: 150px;
    margin-bottom: 10px;
    font-size: 24px;
}

.content-login {
    display: none;
}

.content-create-account {
    display: none;
}

.input-name-text {
    color: white;
    font-weight: 400;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.input-text-box {
    height: 25px;
}

.content-text {
    font-weight: bold;
    font-size: 24;
    padding-left: 30px;
}

.white-card * {
    padding-top: 15px;
}

span {
    font-weight: normal;
    padding-left: 18px;
}

h3 {
    /*text-align: left;*/
    margin-left: 15%;
}
